<table class="table table-striped">
	<tr>
	<th>Description</th>
	<th>Date</th>
	<th>Status</th>
	<th>Action</th>
	</tr>
	<tr>
	<% @leaves.each do |leave| %>
	<td><%= leave.reason.humanize %></td>
	<td><%= leave.status.humanize %></td>
	<td><%= leave.leave_date %></td>
	<td><%= link_to "Act","/leaves/#{leave.id}/edit", class: "btn btn-primary"  %></td>
		</tr>
		<% end %>
</table>